*{
  margin: 0;
}
.loader{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.error {
  color: #fc8181;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0.25rem;
}
input.input-error,
select.input-error{
  border-color: #fc8181;
}
button:disabled{
  opacity:0.35
}